header
  display flex
  flex-direction column
  align-items center
  margin-bottom $s2

img
  clampSize(20vw, 100px)
  margin-bottom $s0

button
  cgButtonTertiary()

.card
  height 100%
  display flex
  flex-direction column
  align-items center
  background $c-white
  box-shadow: 2px 2px 4px $c-gray-dark
  border-radius: 2%
  padding $s1
  

.content
  height 100%
  display flex
  flex-direction column
  justify-content space-between

  

  