header
  display flex
  flex-direction column
  align-items center
  margin-bottom $s0

img
  clampSize(16vw, 100px)
  margin-bottom $s0

button
  cgButtonTertiary()

h2
  text(lg)
  margin-bottom $s0

p 
  margin-bottom $s0

li 
  margin-bottom $s0

.card
  height 100%
  display flex
  flex-direction column
  align-items center
  background $c-white
  box-shadow: 2px 2px 4px $c-gray-dark
  border-radius: 2%
  padding $s0
  overflow-y scroll
  
.content
  height 100%
  display flex
  flex-direction column
  justify-content space-between

.intro
  text-align center

.nested
  font-weight 600
  margin $s-2 0
  
  ul
    font-weight 400
    list-style disc
    margin $s-2 $s1 $s1

.top
  margin 0 $s-2
  

  