@import './app.support.styl'

// --------------------------------------------

html
  font-family sans-serif

  +at(290px)
    font-size text(md)

html, body, main
  font-family: 'Poppins', sans-serif
  height: 100%
  width: 100%
  margin: 0

main
  overflow-x hidden

h1
  text(2xl)
  font-weight 600

h2
  text(xl)
  font-weight 600

form
  width 100%

  label
    text(sm)
    margin-bottom: $s-4
    display: block

  input
    width 100%
    padding $s-1
    margin-bottom $s-1
    border solid 1px $c-black
    border-radius 2px
    &:last-of-type
      margin-bottom $s0
    &[type="checkbox"]
      display inline-block
      width $s0
      height $s0
      margin 0 $s-2 0 0

  select
    width 100%

option:checked
  background-color $c-blue-light

p
  text(md)
  font-weight 400
  letter-spacing 0.005rem
  margin 0

.visuallyhidden
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px