// --------------------------------------------
// Theme Colors

$c-white = #ffffff
$c-black = #010402

$c-neutral = #e7e3d1
$c-gray-light = #faf9f6
$c-gray = #cfcbc3
$c-gray-dark = #5c5b54

$c-blue-light = #e5f5ff
$c-blue = #0946a6  // #0b57d0 or #0a4ebb 
$c-blue-dark = #07347d
$c-blue-muted = #335366

$c-green-light = #eff4e9
$c-green = #5D9220
$c-green-dark = #416616

$c-error = #e71809
$c-error-light = #fde8e6
$c-warning = #fefacd
$c-warning-dark = #e3d105

// --------------------------------------------
// Breakpoints

$mobile = 300px
$tablet = 820px

// --------------------------------------------
// Typography & Spacing

$s-4 = 0.125rem
$s-3 = 0.25rem
$s-2 = 0.5rem
$s-1 = 0.75rem
$s0 = 1rem
$s1 = 1.5rem
$s2 = 2rem
$s3 = 2.25rem
$s4 = 3rem
$s5 = 4rem

text(size)
  if size is 'xs'
    font-size 0.75rem
    line-height 150%

  if size is 'sm'
    font-size 0.875rem
    line-height 150%
    letter-spacing 0.02rem

  if size is 'md'
    font-size 1rem
    line-height 150%

  if size is 'lg'
    font-size 1.125rem
    line-height 150%

  if size is 'xl'
    font-size 1.25rem
    line-height 150%

  if size is '2xl'
    font-size 1.5rem
    line-height 150%

  if size is '3xl'
    font-size 1.75rem
    line-height 150%

// --------------------------------------------
// Theme Elements

cgCard()
  background $c-white
  border solid 1px $c-black
  padding $s0
  text-align center

cgField()
  border solid 1px $c-gray-light
  display block
  margin 0 0 $s1
  padding $s1
  width 100%

cgButton()
  contentCentered()
  text(md)
  background $c-blue
  border solid 1px $c-blue
  border-radius 50px
  color $c-white
  max-height 75px
  padding $s0 $s2
  width 100%

  &:disabled
    opacity 0.5

  @media (hover) 
     &:hover
      background $c-blue-dark

cgButtonSecondary()
  contentCentered()
  text(md)
  background $c-white
  border solid 2px $c-blue
  border-radius 50px
  color $c-blue
  max-height 75px
  padding $s0 $s2
  width 100%

  &:disabled
    opacity 0.5

  @media (hover) 
    &:hover
      color $c-blue-dark
      border-color $c-blue-dark

cgButtonTertiary()
  contentCentered()
  text(md)
  background transparent
  border-radius 50px
  color $c-blue
  max-height 75px
  padding $s0 $s2
  width 100%
  text-decoration underline
  text-underline-offset 1px

  &:disabled
    opacity 0.5

  @media (hover) 
    &:hover
      color $c-blue-dark

// --------------------------------------------
// Utilities

at(threshold)
  @media screen and (min-width: threshold)
    { block }

clampSize(base, max)
  height base
  max-height max
  max-width max
  width base

contentCentered(direction = row) 
  display flex
  align-items center
  justify-content center

  if direction is 'column'
    flex-direction column

constrainWidth(max = $mobile)
  margin 0 auto
  max-width max
