linkAccountAction()
  cgButton()
  margin $s2 0

linkAccountContent()
  background $c-green
  border 1px solid $c-black
  padding $s2
  text-align center

  h1
    font-weight 600
    margin-bottom $s1
    text lg
