linkAccountAction()
  cgButton()

linkAccountContent()
  background $c-green
  border 1px solid $c-black
  margin-bottom $s2
  padding $s2
  text-align center

  h1
    font-weight 600
    text lg
    margin-bottom $s2

  p
    margin-bottom $s2