// --------------------------------------------
// Theme Colors

$black = #000000
$blue = #0270ED
$blue-dark = #0253AE
$gray-light = #C4C4C4
$green = #b3f287
$white = #ffffff

// --------------------------------------------
// Typography & Spacing

$s1 = 0.50rem
$s2 = 1.50rem
$s3 = 2.00rem
$s4 = 3.00rem

text(size)
  if size is 'sm'
    font-size 0.875rem
    line-height 1.25rem

  if size is 'md'
    font-size 1rem
    line-height 1.5rem

  if size is 'lg'
    font-size 1.5rem
    line-height 2.15rem

  if size is 'xl'
    font-size 1.875rem
    line-height 2.25rem

  if size is '2xl'
    font-size 2.5rem
    line-height 2rem

// --------------------------------------------
// Buttons, Links + Forms

input()
  border solid 1px $gray-light
  height 40px
  margin 0 0 1rem
  max-width 400px
  padding 0 10px

// --------------------------------------------
// Utilities

at(threshold)
  @media screen and (min-width: threshold)
    { block }

flexCenter(direction = row) 
  display flex
  align-items center
  justify-content center

  if direction is 'column'
    flex-direction column
