@import './app.support.styl'

// --------------------------------------------

html
  background $green
  font-family sans-serif
  font-size 5.5vw

  +at(290px)
    font-size 16px

html, body, main
  fullHeight()
