// --------------------------------------------
// Theme Colors

$c-black = #000000
$c-blue = #0270ED
$c-blue-dark = #0253AE
$c-gray-light = #F0F0F0
$c-green = #b3f287
$c-white = #ffffff

// --------------------------------------------
// Typography & Spacing

$s1 = 0.50rem
$s2 = 1.50rem
$s3 = 2.00rem
$s4 = 3.00rem
$ss = 1.00rem

text(size)
  if size is 'sm'
    font-size 0.875rem
    line-height 1.25rem

  if size is 'md'
    font-size 1rem
    line-height 1.5rem

  if size is 'lg'
    font-size 1.5rem
    line-height 2.15rem

  if size is 'xl'
    font-size 1.875rem
    line-height 2.25rem

  if size is '2xl'
    font-size 2.5rem
    line-height 2rem

// --------------------------------------------
// Theme Elements

cgCard()
  background $c-white
  border solid 1px $c-black
  padding $s2
  text-align center

cgField()
  border solid 1px $c-gray-light
  display block
  margin 0 0 $ss
  padding $s1
  width 100%

cgButton()
  contentCentered()

  background $c-blue
  border solid 1px $c-blue
  border-radius 50px
  color $c-white
  max-height 75px
  padding $ss $s2
  width 100%

  &:hover
    background $c-blue-dark

// --------------------------------------------
// Utilities

at(threshold)
  @media screen and (min-width: threshold)
    { block }

clampSize(base, max)
  height base
  max-height max
  max-width max
  width base

contentCentered(direction = row) 
  display flex
  align-items center
  justify-content center

  if direction is 'column'
    flex-direction column

contentNarrow(max = 500px)
  margin 0 auto
  max-width max

fullHeight()
  min-height 100vh
